
.container
  .col_sm
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et laboriosam ipsa repudiandae porro libero quam magnam adipisci recusandae aut, cupiditate dolor natus, unde veritatis esse saepe vitae consequatur error repellat.
    %p= number_to_currency(123.45)
    = link_to "Sign in", new_user_session_path
